/*? global clearing */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board {
 
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template: repeat(15, 1fr) / repeat(15, 1fr);
}

.board .food {
  background-image: url("../assets/food.png");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.board .player {
  background-image: url("../assets/player.png");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

#titlex {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 40%;
}
